<!-- views/inputpage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="<%= base_dir %>/stylesheets/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>   

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css" />

    <!-- Font Awesome -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"-->

    <!-- Bootstrap core CSS -->
    <!--link href="/vendor/mdb-free/css/bootstrap.min.css" rel="stylesheet"-->

    <!-- Material Design Bootstrap -->
    <!--link href="/vendor/mdb-free/css/mdb.min.css" rel="stylesheet"-->

</head>
<body>

    <div id="app"></div>
    
    <script>window.store = <%- JSON.stringify(data) %></script>
    <script type="text/javascript" src="<%= base_dir %>/javascripts/bundle_fastpage.js"></script>
    

</body>
</html>