<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Get Long Live Token</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <style>

    </style>
  </head>
  <body>
    <div id="app"></div>

    <script src="<%= base_dir %>/javascripts/bundle_getlongtoken.js"></script>
  </body>
</html>