<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css" />
</head>
<body>

    <div id="app"></div>
    <script>window.store = <%- JSON.stringify(data) %></script>
    <script type="text/javascript" src="<%= base_dir %>/javascripts/bundle_login.js"></script>
    
</body>
</html>