<!-- views/onsen.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>Just an Empty Header</header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <div id="app"></div>
    <script type="text/javascript" src="<%= base_dir %>/javascripts/bundle_onsen.js"></script>

    <footer>Just another Empty Footer</footer>

</body>
</html>