<!-- views/orders.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>

	<style>
		table {
		    border-collapse: collapse;
		}

		table, th, td {
		    border: 1px solid black;
		}
	</style>

    <div id="app"></div>
    <script>window.data = <%- JSON.stringify(data) %></script>
    
    <script type="text/javascript" src="<%= base_dir %>/javascripts/bundle_orders.js"></script>
</body>
</html>