<!-- views/orders.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <script src="<%= base_dir %>/vendor/jquery-3.1.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body className="container" style="background:#e9ebee;">
    <div id="app"></div>    
    <script type="text/javascript" src="<%= base_dir %>/javascripts/bundle_privatereply.js"></script>
</body>
</html>