<!-- views/inputpage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
</head>
<body class="container">
<section class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <h3 style="text-align:center;">SY Online Venture</h3>
    <h3 style="text-align:center;">PM Helper Privacy Policy</h3>
    <p>
        This Facebook App is used internally by SY Online Venture Sdn. Bhd. for internal managerial purpose of facebook pages owned by SY Online Venture Sdn. Bhd. only. Anyone who is not associated with SY Online Venture Sdn. Bhd. is discouraged to use this Facebook App.  

        This App currently has the following functions:
        <ol>
            <li>Get all "post" of the "pages" a person is "admin","editor" or "moderator" of.</li>
            <li>Get latest "comments" of the "posts" specified automatically at specified interval.</li>
            <li>Facilitates bulk reply of user comments by "comment reply" and "private reply".</li>
            <li>Saves "conversation id" of all "conversations" initiated by "private reply" for future monitoring of user interaction with page moderators.</li>
        </ol>

        This App will have the following functions in future updates:
        <ol>
            <li>By using Facebook's "Messenger API", replace currently page messenging mechanism to improve customer service quality.</li>
        </ol>

    </p>
    </h3>
    <div class="col-md-2"></div>
</div>
</section>
</body>
</html>